<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container mt-3">
      {% include 'tours/navbar.html' %}
      <h1 class="display-5 mt-4" style="text-transform:uppercase">Летим <span data-test="from">{{ departure }}</span></h1>
      <p class="mb-4" >Найдено <span data-test="tourcount">{{ count_tours }}</span> тура, от <span data-test="pricemin">{{ min_price }}</span> до <span data-test="pricemax">{{ max_price }}</span> и от <span data-test="nightsmax">{{ min_nights }}</span> ночей до <span data-test="nightsmax">{{ max_nights }}</span> ночей</p>

      <!-- CARDS -->
      <div class="row mt-5" data-test="cards">
        {% for key, value in tours.items %}
          <div class="col-4" data-test="card">
            <div class="card mb-3" >
              <a href="/tour/{{ key }}"><img src="{{ value.picture }}" class="card-img-top img-fluid" data-test="picture" style="max-width:100%;height:200px;"></a>
              <div class="card-body">
                <h5 class="card-title">{{ value.title }}</h5>
                <p class="card-text">{{ value.description | truncatechars:100 }}</p>
                <a href="/tour/{{ key }}" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% include 'tours/footer.html' %}
    </div>
  </body>
</html>
